/*$redPokedex: #b32b25;
$blueDisplay: #48c0db;
$blackPokedex: #00000;
$greenPokedex: #4aa222;
$grey-blueDisplay: #58919f;
$dark-greyDisplay: #161719;*/

.pokedex, .display, .displayBlack, .led, .bigCircle, .mediumCircle, .smallCircle, .bigCircleright, .mediumCircleright, .smallCircleright {
    position: absolute;
}

body {
    background: black;
  }

.pokedex {
    margin: auto;
    background-color: #b32b25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:794px;
    height: 377px;
    border-radius: 61px;
}

.mediumCircle {
    top: 10px;
    left: 06px;
    background-color: black;
    border-radius: 100%;
    height: 298px;
    width: 290px;
}

.bigCircle {
    top: 28px;
    left: 40px;
    background-color: #48c0db;
    border-radius: 100%;
    height: 320px;
    width: 311px;
}

.smallCircle{
    top: 60px;
    left: 30px;
    background-color: #48c0db;
    border-radius: 100%;
    height: 174px;
    width: 170px;
}
.bigCircleright {
    top: 28px;
    left: 445px;
    background-color: #48c0db;
    border-radius: 100%;
    height: 320px;
    width: 311px;
}

.mediumCircleright {
    top: 10px;
    left: 15px;
    background-color: black;
    border-radius: 100%;
    height: 298px;
    width: 290px;
}

.smallCircleright {
    top: 60px;
    left: 90px;
    background-color: #48c0db;
    border-radius: 100%;
    height: 174px;
    width: 170px;
}

.led {
    top: 188px;
    left: 20px;
    border-radius: 100%;
    width:7px;
    height: 7px;
    background-color: #4aa222; 
}

.led.right {
    transform: translateX(748px);
}

.displayBlack {
    margin: auto;
    background-color: #000;
    top: 2px;
    bottom: 1px;
    left: 0;
    right: 0;
    width: 554px;
    height: 390px;
}

.display {
    margin: auto;
    background-color: #48c0db;
    top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 554px;
    height: 320px;
}

.rec-left {
    opacity: 0;
    position: absolute;
    top: -38px;
    left: 280px;
    width: 250px;
    height:480px;
    clip: rect(0px, 120px, 430px, 0px);
    animation-name: open-rec-l;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes open-rec-l {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    90% {
        opacity: 1;
        transform: translateX(225px);
    }
    100% {
        opacity: 1;
        transform: translateX(225px);
    }
}

.rec-right {
    opacity: 0;
    position: absolute;
    top: -38px;
    left: 277px;
    width: 400px;
    height: 480px;
    clip: rect(0px, 870px, 440px, 674px);
    animation-name: open-rec-r;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-timing-function: ease-in;

}

@keyframes open-rec-r {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    90% {
        opacity: 1;
        transform: translateX(-225px);
    }
    100% {
        opacity: 1;
        transform: translateX(-225px);
    }
}

.rec-mid {
    opacity: 0;
    position: absolute;
    top: -38px;
    left: 265px;
    width: 400px;
    height: 480px;
    clip: rect(0px, 674px, 440px, 120px);
    animation-name: open-rec-m;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

@keyframes open-rec-m {
    0% {
        opacity: 1;
        transform: translateX(0px) scaleX(1.2);
    }

    90% {
        opacity: 1;
        transform: translateX(120px) scaleX(0.3);
    }
    100% {
        opacity: 1;
        transform: translateX(150px) scaleX(0.3);
    }
}

.icon-pokebola {
    position: absolute;
    left: 610px;
    top: 335px;
    animation: giro-icone 1.7s ease-out forwards;
}

.img-icon-pokebola {
    height: 125px;
    width: auto;
}

@keyframes giro-icone {
    0% {
        opacity: 0.7;
        transform: rotate(0deg);
    }

    99% {
        opacity: 0;
        transform: rotate(620deg);
    }

    100% {
        opacity: 0;
        transform: translateX(500px);
    }

}
